.logo{
    color: #6228d7; 
    font-weight: bold;
    font-size: 30px;

    pointer-events: none;

    left: 25px;
    position: absolute;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    margin-top: 25px;

    font-size: medium;
}

ul {
    display: flex;
    
    font-size: 15px;
    gap: 50px;
    list-style: none;
    padding: 0px;
}

ul a {
    position: relative;
    display: inline-block;

    color:rgba(255, 255, 255, 0.793);
    cursor: pointer;
    text-decoration: none;

    transition: color .3s ease;
}

ul a.active {
    color: #6228d7;
}

ul a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -15px;

    width: 0;
    height: 2px;

    background: #6228d7;

    transform: translateX(-50%);
    transition: width 0.3s ease;
}

ul a.active::after {
    width: 120%;
}


ul a:hover {
    color:#6228d7;
    cursor: pointer;
}

.download-button {
    right: 20px;
    position: absolute;
}

.button {
    padding: 10px 12px;

    border: none;
    border-radius: 5px;
    border: 1px solid #6228d7;

    font-size: 12px;
    font-weight: bold;
    background-color: black;
    color: #6228d7;
    cursor: pointer;

    transition: box-shadow, background-color 0.3s ease;
}

.button:hover {
    box-shadow: 0 0 10px #6228d7;  
    background-color: #6228d7;
    color: black;
}

.hamburguer {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #6228d7;
    cursor: pointer;
    padding: 0;
}

.hamburguer::before,
.hamburguer::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #6228d7;
    margin-top: 5px;
}

@media (max-width: 750px) {
    ul{
        gap: 0;
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;

        position: fixed;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        
        background-color: #1c0053;
        clip-path: circle(100px at 90% -15%);

        transition: 1s ease-out;

        pointer-events: none;
    }
    ul.active{
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .hamburguer{
        display: block;
        right: 5%;
        position: absolute;
    }

    .container{
        background-color: black;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 40px;
    }
    
    .button{
        display: none;
    }

    ul a.active {
    color: rgba(255, 255, 255, 0.793);
}
}