.border-screen {
    position: fixed;
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 20px;
    border-radius: 10px;
    box-shadow: 0 0 2px #6228d7,
                2px 2px 4px #2a115c;
    pointer-events: none;       
}

@media (max-width: 750px) { 
    .border-screen {
        display: none;
    }
}
